# Movie Recommendation System

In [1]:
import pandas as pd
movies=pd.read_csv("https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv")

In [2]:
movies.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [5]:
movies.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [6]:
movies.shape

(4760, 21)

In [7]:
movies.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [3]:
movies_features=movies[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director','Movie_Language']].fillna('')

In [12]:
movies_features.shape

(4760, 6)

In [13]:
movies_features

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director,Movie_Language
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders,en
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas,en
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton,en
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis,en
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes,en
...,...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo,en
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito,en
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens,en
4758,Family,,,,,en
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell,en

In [4]:
X=movies_features['Movie_Genre']+' '+movies_features['Movie_Keywords']+' '+movies_features['Movie_Tagline']+' '+movies_features['Movie_Cast']+' '+movies_features['Movie_Director']+' '+movies_features['Movie_Language']
X

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                        Family     en
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [16]:
X.shape

(4760,)

# get feature text conversion to tokens

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
tfidf=TfidfVectorizer()

In [8]:
X=tfidf.fit_transform(X)

In [9]:
X.shape

(4760, 17280)

In [10]:
print(X)

  (0, 4897)	0.02389447562978421
  (0, 618)	0.16329157913595765
  (0, 493)	0.1432182515817432
  (0, 15431)	0.1465106667783784
  (0, 9683)	0.14221995560402384
  (0, 9473)	0.1659367460301157
  (0, 1392)	0.16893558892062888
  (0, 7833)	0.09796763688009552
  (0, 1216)	0.13861898652272264
  (0, 730)	0.13411233174594553
  (0, 13107)	0.1432182515817432
  (0, 15373)	0.10474824412221906
  (0, 9056)	0.08665946208245913
  (0, 11171)	0.062485955822192275
  (0, 16793)	0.17649206949657767
  (0, 5619)	0.08601081160337495
  (0, 16755)	0.10687031585712727
  (0, 7912)	0.1334418950453121
  (0, 15237)	0.09797674716768129
  (0, 11252)	0.07275710329932314
  (0, 3882)	0.11994973874601057
  (0, 5506)	0.11450787219484569
  (0, 7078)	0.1981675802578539
  (0, 7462)	0.1474142570376307
  (0, 1497)	0.19707009158499034
  :	:
  (4757, 6945)	0.17079848123621946
  (4757, 8387)	0.17472087105716222
  (4757, 15321)	0.07650626717492601
  (4757, 15402)	0.09749570079564761
  (4757, 7657)	0.11366782121913269
  (4757, 10905)	0.14539385846292857
  (4757, 4498)	0.056725333781218586
  (4757, 4897)	0.03490968728700715
  (4758, 5245)	0.9420648594255822
  (4758, 4897)	0.33543076876675815
  (4759, 11274)	0.3391900050661716
  (4759, 11718)	0.3391900050661716
  (4759, 205)	0.32351722098008756
  (4759, 8910)	0.30377184820490943
  (4759, 14077)	0.32351722098008756
  (4759, 3060)	0.2810516355319293
  (4759, 7137)	0.26397310228664117
  (4759, 10769)	0.3123972037040975
  (4759, 4362)	0.18291054154983
  (4759, 14066)	0.20067323144570698
  (4759, 5697)	0.19517764126877765
  (4759, 15449)	0.19612046463561297
  (4759, 1492)	0.21179324872169705
  (4759, 10674)	0.15874826798021113
  (4759, 4897)	0.041126318279629356

# Get Similarity Score using Cosine Similarity
cosine similarity computes the L2 normalized dot product of vectors.Euclidean(L2) normalization projects the vectors onto the unit sphere.and their dot product is then the cosine of the angle between the points denoted by the vectors

In [12]:
from sklearn.metrics.pairwise import cosine_similarity

In [13]:
Similarity_Score=cosine_similarity(X)

In [14]:
Similarity_Score

array([[1.00000000e+00, 1.42120506e-02, 3.63615767e-02, ...,
        8.34148672e-04, 8.01494233e-03, 9.82691810e-04],
       [1.42120506e-02, 1.00000000e+00, 8.90694947e-03, ...,
        1.03659670e-03, 9.96017027e-03, 1.22119129e-03],
       [3.63615767e-02, 8.90694947e-03, 1.00000000e+00, ...,
        9.95836557e-04, 8.50431248e-02, 1.17317267e-03],
       ...,
       [8.34148672e-04, 1.03659670e-03, 9.95836557e-04, ...,
        1.00000000e+00, 1.17097832e-02, 1.43570691e-03],
       [8.01494233e-03, 9.96017027e-03, 8.50431248e-02, ...,
        1.17097832e-02, 1.00000000e+00, 1.37950326e-02],
       [9.82691810e-04, 1.22119129e-03, 1.17317267e-03, ...,
        1.43570691e-03, 1.37950326e-02, 1.00000000e+00]])

In [15]:
Similarity_Score.shape

(4760, 4760)

# Get Movie Name as Input from User and Validate for Closest Spelling

In [16]:
Favourite_Movie_Name=input('Enter your favourite movie name : ')

In [20]:
All_Movies_Title_List=movies['Movie_Title'].tolist()

In [18]:
import difflib

In [21]:
Movie_Recommendation=difflib.get_close_matches(Favourite_Movie_Name,All_Movies_Title_List)
print(Movie_Recommendation)

['The Avengers', 'Savages', 'Swingers']

In [22]:
Close_Match=Movie_Recommendation[0]
print(Close_Match)

The Avengers

In [24]:
Index_of_Close_Match_Movie=movies[movies.Movie_Title==Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

2851

In [ ]:
# getting a list of similar movies
Recommendation_Score=list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))
print(Recommendation_Score)

In [26]:
len(Recommendation_Score)

4760

# Get All Movies Sort Based on Recommendation Score wrt Favourite Movie

In [ ]:
Sorted_Similar_Movies=sorted(Recommendation_Score,key=lambda X:X[1],reverse=True)
print(Sorted_Similar_Movies)

In [31]:
# print the name of similar movies based on the index
print('Top 30 Movies Suggested for you : \n')

i=1

for movie in Sorted_Similar_Movies:
    index=movie[0]
    title_from_index=movies[movies.index==index]['Movie_Title'].values[0]
    if(i<31):
        print(i, '.',title_from_index)
        i+=1

Top 30 Movies Suggested for you :

1 . Doogal
2 . Cats & Dogs
3 . The Color Purple
4 . Fever Pitch
5 . Shorts
6 . Superbabies: Baby Geniuses 2
7 . Brooklyn Rules
8 . Elf
9 . The Rugrats Movie
10 . Bogus
11 . Factory Girl
12 . Running Forever
13 . An Alan Smithee Film: Burn, Hollywood, Burn
14 . How Stella Got Her Groove Back
15 . In the Land of Women
16 . Madea Goes to Jail
17 . In the Bedroom
18 . Magnolia
19 . Freaky Friday
20 . The Benchwarmers
21 . The Deep End of the Ocean
22 . Ghosts of Mississippi
23 . Getaway
24 . A Walk Among the Tombstones
25 . Rat Race
26 . Farce of the Penguins
27 . Ghost
28 . Trucker
29 . The Valley of Decision
30 . The Guard